
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" title="Home">NEWSGAC-DEV</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('pipelines.overview') }}">Public pipelines</a></li>
            </ul>
            {% if session['email'] %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ url_for('data_sources.overview') }}">
                            <span class="glyphicon glyphicon-hdd"></span>
                            Data
                        </a>
                    </li>
                     <li>
                        <a href="{{ url_for('pipelines.overview') }}">
                            <span class="glyphicon glyphicon-flash"></span>
                            Pipelines
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('ace.overview') }}">
                            <span class="glyphicon glyphicon-blackboard"></span>
                            ACE
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('users.logout_user') }}">
                            <span class="glyphicon glyphicon-log-out"></span>
                            Log out
                        </a>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('users.register_user') }}"><span class="glyphicon glyphicon-user"></span>
                        Sign
                        up</a></li>
                    <li><a href="{{ url_for('users.login_user') }}"><span class="glyphicon glyphicon-log-in"></span> Log
                        in</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
