{% extends "base.html" %}
{% block content %}
    <div class="page-header">
        <h1>Explanation for Article {{ article_number + 1}} using {{ pipeline.display_title }}</h1>
    </div>
    <div class="row">
        <p>{{ pipeline.display_title }} predicts <strong>{{ prediction|code_to_label}}</strong>.
            Actual genre is <strong>{{ article.label|code_to_label }}</strong>.</p>
    </div>
    <div class="row">
        {% if exp1_html is defined %}
            {{ exp1_html|indent(4)|safe }}
        {% else %}
            <p>There is no data to show.</p>
        {% endif %}
    </div>
    <div class="row">
        {% if exp2_html is defined %}
            {{ exp2_html|indent(4)|safe }}
        {% else %}
            <p>There is no data to show.</p>
        {% endif %}
    </div>
    <div class="row">
        <br/><br/><br/>
    </div>
    {% if article.urls|length > 0 %}
        <div class="row well">
            <a href="{{article.urls[0]}}"><button type="submit" class="btn btn-success">View article</button></a>
            <a href="{{article.urls[0]}}:ocr"><button type="submit" class="btn btn-success">View article text</button></a>
        </div>
    {% endif %}

{% endblock %}