# Add any directories, files, or patterns you don't want to be tracked by version control

# Python build remnants
*.pyc
.pytest_cache
# file system nonsense
*.DS_Store

# project specific
.idea
src/test/*
*/**/node_modules

.ipynb_checkpoints

data
hub_notebooks
dist
build
newsgac.egg-info
