2to3==1.0
amqp==2.5.2
anchor-exp==0.0.0.6
anytree==2.7.2
argh==0.26.2
atomicwrites==1.3.0
attrs==19.3.0
Babel==2.7.0
backcall==0.1.0
backports.csv==1.0.7
bcrypt==3.1.7
beautifulsoup4==4.8.1
billiard==3.6.1.0
blinker==1.4
blis==0.4.1
bokeh==1.4.0
cached-property==1.5.1
cachetools==3.1.1
celery==4.3.0
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
cheroot==8.2.1
CherryPy==18.4.0
Click==7.0
colorama==0.4.1
colorcet==2.0.2
coverage==4.5.4
cryptography==2.8
cycler==0.10.0
cymem==2.0.2
dateparser==0.7.2
debtcollector==1.22.0
decorator==4.4.1
dill==0.3.1.1
dnspython==1.16.0
docker==4.1.0
docker-compose==1.24.1
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
eventlet==0.25.1
extras==1.0.0
fasteners==0.15
feedparser==5.2.1
fixtures==3.0.0
Flask==1.1.1
future==0.18.2
futurist==1.9.0
greenlet==0.4.15
gunicorn==19.9.0
httplib2==0.14.0
idna==2.8
imageio==2.6.1
importlib-metadata==0.23
ipython==7.9.0
ipython-genutils==0.2.0
iso8601==0.1.12
isodate==0.6.0
itsdangerous==1.1.0
jaraco.functools==2.0
jedi==0.15.1
Jinja2==2.10.3
joblib==0.14.0
johnnydep==1.0
jsonschema==3.1.1
kiwisolver==1.1.0
kombu==4.6.5
ldap3==2.6.1
lightgbm==2.3.0
lime==0.1.1.36
linecache2==1.0.0
logutils==0.3.5
lxml==4.4.1
Mako==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
monotonic==1.5
more-itertools==7.2.0
msgpack==0.6.2
murmurhash==1.0.2
mysqlclient==1.4.5
netaddr==0.7.19
netifaces==0.10.9
networkx==2.4
nltk==3.4.5
numpy==1.17.3
oslo.concurrency==3.30.0
oslo.config==6.11.1
oslo.context==2.23.0
oslo.i18n==3.24.0
oslo.log==3.44.1
oslo.messaging==10.2.0
oslo.middleware==3.38.1
oslo.serialization==2.29.2
oslo.service==1.40.2
oslo.utils==3.41.2
oyaml==0.9
packaging==19.2
pandas==0.25.3
param==1.9.2
paramiko==2.6.0
parso==0.5.1
passlib==1.7.1
Paste==3.2.2
PasteDeploy==2.0.1
pathtools==0.1.2
Pattern==3.6
pbr==5.4.3
pdfminer.six==20191020
pecan==1.3.3
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
pipdeptree==0.13.2
pkginfo==1.5.0.1
plac==1.1.3
pluggy==0.13.0
portend==2.6
preshed==3.0.2
prettytable==0.7.2
prompt-toolkit==2.0.10
ptyprocess==0.6.0
py==1.8.0
py-w3c==0.3.1
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycadf==2.10.0
pycparser==2.19
pycryptodome==3.9.1
pyct==0.4.6
Pygments==2.4.2
pyinotify==0.9.6
pymodm==0.4.1
pymongo==3.9.0
PyNaCl==1.3.0
PyNLPl==1.2.9
pyparsing==2.4.4
pytest==5.2.2
pytest-cov==2.8.1
pytest-timeout==1.3.3
python-dateutil==2.8.1
python-docx==0.8.10
python-dotenv==0.10.3
python-mimeparse==1.6.0
pytoml==0.1.21
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.1.2
rdflib==4.2.2
redis==3.3.11
regex==2019.11.1
repoze.lru==0.7
requests==2.20.1
rfc3986==1.3.2
Routes==2.4.1
scikit-image==0.16.2
scikit-learn==0.21.3
scipy==1.3.1
sentry-sdk==0.13.1
six==1.12.0
sortedcontainers==2.1.0
soupsieve==1.9.4
spacy==2.2.1
srsly==0.2.0
statsd==3.3.0
stevedore==1.31.0
stop-words==2018.7.23
structlog==19.2.0
tabulate==0.8.5
tempora==1.14.1
testtools==2.3.0
texttable==0.9.1
thinc==7.1.1
tornado==6.0.3
tqdm==4.36.1
traceback2==1.4.0
traitlets==4.3.3
tzlocal==2.0.0
unittest2==1.1.0
urllib3==1.24.3
vine==1.3.0
waitress==1.3.1
wasabi==0.3.0
watchdog==0.9.0
wcwidth==0.1.7
WebOb==1.8.5
websocket-client==0.56.0
WebTest==2.0.33
Werkzeug==0.16.0
wimpy==0.6
wrapt==1.11.2
xgboost==0.90
yappi==1.0
zc.lockfile==2.0
zipp==0.6.0
