bokeh
celery
colorcet
cython
dateparser
dill
Flask
gunicorn
jupyter
jupyterlab
ipykernel
ipywidgets
lightgbm
git+git://github.com/newsgac/lime@master#egg=lime
MarkupSafe
nltk
numpy
pandas
passlib
Pattern
pymodm
PyNLPl
pytest
pytest-cov
pytest-timeout
python-dotenv
redis
requests
scikit-learn
scipy
sentry-sdk[flask]
watchdog
watchdog[watchmedo]
xgboost
