anchor_exp==0.0.0.6
bokeh==1.4.0
colorcet
celery
python-dotenv
numpy
scipy
dill
Flask
lime
MarkupSafe
nltk
Pattern
passlib
pymodm
PyNLPl
requests
regex
scikit-learn
stop-words
pandas
gunicorn
redis
pytest
pytest-timeout
py-w3c
spacy
xgboost
lightgbm
pytest-cov
dateparser
sentry-sdk[flask]
watchdog
