{% extends "base.html" %}
{% block content %}

    <div class="form-size">
        <form action="{{ url_for('users.register_user') }}" method="post">
            <div class="form-group">
                <label for="name">Name*</label>
                <input required type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ request['name'] }}">
                <span class="help-block"><i>*Required field</i></span>
            </div>
            <div class="form-group">
                <label for="surname">Surname*</label>
                <input required type="text" class="form-control" id="surname" name="surname" placeholder="Surname" value="{{ request['surname'] }}">
                <span class="help-block"><i>*Required field</i></span>
            </div>
            <div class="form-group">
                <label for="email">Email address*</label>
                <input required type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ request['email'] }}">
                <span class="help-block"><i>*Required field</i></span>
            </div>
            <div class="form-group">
                <label for="password">Password*</label>
                <input required type="password" class="form-control" id="password" name="password" placeholder="Password" value="{{ request['password'] }}">
                <span class="help-block"><i>*Required field</i></span>
            </div>
            <button type="submit" class="btn btn-info">Create an account</button>
        </form>
    </div>
{% endblock %}