{% extends "base.html" %}
{% import "learners/parameter_field.html" as f with context %}
{% block content %}
    <div class="page-header">
        <h1>Configure {{ learner.name }} learner</h1>
    </div>

    <!--You can change the '.connecting-line' width to 70% and the '.wizard .nav-tabs > li' width to 33% in the CSS.-->

    <div class="row">
        <section>
            <div class="wizard">
                <form role="form" id="data_source_config" method="post">
                    <div class="tab-content">

                        <div class="tab-pane active" role="tabpanel" id="step1">
                            <div class="step33">
                                <h5><strong>Configuration</strong></h5>
                                <hr>

                                <div class="row mar_ned">
                                        <div class="col-md-3">
                                            <p align="right" class="center-align-pad">
                                                <strong>Display title</strong>
                                            </p>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-8">
                                            <input value="{{ learner.display_title }}" title="Display title" type="text" name="display_title"/>
                                            <span class="help-block"><i>The display title of this pre-processing configuration.</i></span>
                                        </div>
                                    </div>

                                <div class="details_div_data">
                                    {% for param in parameters %}
                                        {{ f.parameter_field(param, learner.parameters[param.attname]) }}
                                    {% endfor %}
                                </div>
                                <hr>
                            </div>
                            <ul class="list-inline pull-right">
                                <li>
                                    <button type="submit" class="btn btn-success">Save</button>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </section>
    </div>

{% endblock %}