{% macro textinput_field(field, value) -%}
    <div class="row mar_ned">
        <div class="col-md-3">
            <p align="right" class="center-align-pad">
                <strong>{{ field.verbose_name }}</strong>
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <input value="{{ value }}" title="{{ field.verbose_name }}" type="text" name="{{ field.attname }}"/>
            <span class="help-block">{{ field.description }}</span>
        </div>
    </div>
{%- endmacro %}

{% macro select_field(field, value) -%}
     <div class="row mar_ned">
        <div class="col-md-3">
            <p align="right" class="center-align-pad">
                <strong>{{ field.verbose_name }}</strong>
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <select name="{{ field.attname }}" class="selectpicker show-tick" title="Select...">
                {% for choice_key, choice_name in field.choices %}
                    <option value="{{ choice_key }}" {% if value == choice_key %} selected {% endif %}>{{ choice_name }}</option>
                {% endfor %}
            </select>
            <span class="help-block">{{ field.description }}</span>
        </div>
    </div>

{%- endmacro %}

{% macro parameter_field(field, value) -%}
    {% set field_type = field.__class__.__name__ %}
    {% if field_type == 'CharField' and field.choices %}
        {{ select_field(field, value) }}
    {% elif field_type in ['CharField', 'FloatField', 'IntegerField'] %}
        {{ textinput_field(field, value) }}
    {% elif field_type == 'FloatField' %}
        FLOATFIELD
    {% endif %}
{%- endmacro %}