{% extends "base.html" %}
{% block content %}

<div class="page-header">
    <h1>Analyse - Compare - Explain Pipelines</h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <table id="explanations_table" cellspacing="0" class="table table-bordered table-hover display" width="100%">
        <!--<caption class="text-center">DataTables</caption>-->
        <thead>
            <tr>
                <th>Article #</th>
                <th>Pipeline</th>
                <th>Predicted Genre</th>
                <th>Text Explanation</th>
                <th>Feature Explanation</th>
            </tr>
        </thead>

        <tbody>
            {% for article in ace.data %}
                {% set article_key = loop.index0 %}
                {% for pipeline in ace.pipelines %}
                    {% set pipeline_key = loop.index0 %}
                    <tr>
{#                        <td><a href="{{ url_for('data_sources.show_article_summary', article_id = tab_data['article_id']) }}" target="_blank">{{ tab_data['article_number'] }}</a></td>#}
                        <td><a target="_blank">{{ article_key }}</a></td>
{#                        <td><a href="{{ url_for('experiments.get_experiment_page', experiment_id = exp._id) }}" target="_blank">{{ exp.display_title }}</a><br/></td>#}
                        <td><a href="{{ url_for('pipelines.visualise_results', pipeline_id=pipeline.pk) }}" target="_blank">{{ pipeline.display_title }}</a><br/></td>
                        <td>{{ article['predictions'][pipeline_key] }}</td>
                        <td><a>Click here for textual explanation</a></td>
                        <td>N/A</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <th>Article #</th>
                <th>Pipeline</th>
                <th>Predicted Genre</th>
                <th>Text Explanation</th>
                <th>Feature Explanation</th>
            </tr>
        </tfoot>

        </table>
    </div>
</div>

<br/><br/>
{##}
{#<div class="row">#}
{#    <div class="col-xs-12">#}
{#        <table id="combinations_table" cellspacing="0" class="table table-bordered table-hover display" width="100%">#}
{#        <!--<caption class="text-center">DataTables</caption>-->#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Mutually Agreeing Pipelines</th>#}
{#                <th>Predicted Genre</th>#}
{#                <th>Number of Articles</th>#}
{#                <th>Articles</th>#}
{#            </tr>#}
{#        </thead>#}
{##}
{#        <tbody>#}
{#            {% for exp_set, agreement_dict in combinations.items() %}#}
{#                {% for genre, articles_ids in agreement_dict.items() %}#}
{#                    {% if articles_ids|length > 0%}#}
{#                    <tr>#}
{#                        <td>#}
{#                            {% for exp in exp_set %}#}
{#                                 <a href="{{ url_for('experiments.get_experiment_page', experiment_id = exp._id) }}" target="_blank">{{ exp.display_title }}</a><br/>#}
{#                            {% endfor %}#}
{#                        </td>#}
{#                        <td>{{ genre }}</td>#}
{#                        <td>{{ articles_ids|length }}</td>#}
{#                        <td>#}
{#                            {% set count = [] %}#}
{#                            {% for article_id in articles_ids|sort %}#}
{#                                {% for tab_data in grouped_tabular_data[article_id] %}#}
{#                                    {% if tab_data[true_genre] == "N/A" %}#}
{#                                        <a href="{{ url_for('data_sources.show_article_summary', article_id = tab_data['article_id']) }}" target="_blank">[Article {{ tab_data['article_number'] }}] </a>#}
{#                                    {% else %}#}
{#                                        {% if genre == tab_data['true_genre'] %}#}
{#                                            <a class="correct" href="{{ url_for('data_sources.show_article_summary', article_id = tab_data['article_id']) }}" target="_blank">[Article {{ tab_data['article_number'] }}] </a>#}
{#                                        {% elif tab_data['true_genre'] == 'Unlabelled' %}#}
{#                                            <a href="{{ url_for('data_sources.show_article_summary', article_id = tab_data['article_id']) }}" target="_blank">[Article {{ tab_data['article_number'] }}] </a>#}
{#                                        {% else %}#}
{#                                            <a class="wrong" href="{{ url_for('data_sources.show_article_summary', article_id = tab_data['article_id']) }}" target="_blank">[Article {{ tab_data['article_number'] }}] </a>#}
{#                                        {% endif %}#}
{#                                    {% endif %}#}
{#                                    {% if count.append(1) %}{% endif %}#}
{#                                    {% if count|length % 9 == 0 and articles_ids|length < 500 %}#}
{#                                        <br/>#}
{#                                    {% elif count|length % 9 == 0 and articles_ids|length > 499 and articles_ids|length < 1000 %}#}
{#                                        <br/>#}
{#                                    {% elif count|length % 8 == 0 and articles_ids|length > 999 %}#}
{#                                        <br/>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                            {% endfor %}#}
{#                        </td>#}
{#                    </tr>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            {% endfor %}#}
{#        </tbody>#}
{##}
{#        <tfoot>#}
{#            <tr>#}
{#                <th>Mutually Agreeing Pipelines</th>#}
{#                <th>Predicted Genre</th>#}
{#                <th>Number of Articles</th>#}
{#                <th>Articles</th>#}
{#            </tr>#}
{#        </tfoot>#}
{##}
{#        </table>#}
{#    </div>#}
{#</div>#}
{##}
{#<br/><br/>#}
{##}
{#<div class="row">#}
{#    <div class="col-xs-12">#}
{#        <table id="experiments_comparison_table" class="table table-bordered table-hover display" width="100%">#}
{#        <!--<caption class="text-center">DataTables</caption>-->#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Article #</th>#}
{#                <th>Article text</th>#}
{#                <th>Mutually Agreeing <br/>Pipelines</th>#}
{#                <th>Prevailing Genre <br/>(prediction)</th>#}
{#                <th>True Genre</th>#}
{#            </tr>#}
{#        </thead>#}
{##}
{#        <tbody>#}
{#            {% for tab_data in tabular_data_dict %}#}
{#                <tr>#}
{#                    <td><a href="{{ url_for('data_sources.show_article_summary', article_id = tab_data['article_id']) }}" target="_blank">{{ tab_data['article_number'] }}</a></td>#}
{#                    <td>{{ tab_data['article_text'] }}</td>#}
{#                    <td>#}
{#                        {% for experiment in tab_data['mutual_agreement_exp']  %}#}
{#                            <a href="{{ url_for('experiments.get_experiment_page', experiment_id = experiment._id) }}" target="_blank">{{ experiment.display_title }}</a><br/>#}
{#                        {% endfor %}#}
{#                    </td>#}
{#                    <td>{{ tab_data['agreed_genre_prediction'] }}</td>#}
{#                    <td>{{ tab_data['true_genre'] }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#        </tbody>#}
{##}
{#        <tfoot>#}
{#            <tr>#}
{#                <th>Article #</th>#}
{#                <th>Article text</th>#}
{#                <th>Mutually Agreeing <br/>Pipelines</th>#}
{#                <th>Prevailing Genre <br/>(prediction)</th>#}
{#                <th>True Genre</th>#}
{#            </tr>#}
{#        </tfoot>#}
{##}
{#        </table>#}
{#    </div>#}
{#</div>#}
{% endblock %}
