backports-abc==0.5
backports.weakref==1.0.post1
bleach==1.5.0
bokeh==0.12.13
certifi==2017.11.5
celery==4.1.0
chardet==3.0.4
click==6.7
colorcet==0.9.1
numpy==1.13.3
scipy==1.0.0
dill==0.2.7.1
enum34==1.1.6
Flask==0.12
funcsigs==1.0.2
future==0.16.0
futures==3.2.0
graphviz==0.8.2
h5py==2.7.1
html5lib==1.0b8
idna==2.6
itsdangerous==0.24
Jinja2==2.10
Keras==2.1.2
lime==0.1.1.29
lxml==4.1.1
Markdown==2.6.11
MarkupSafe==1.0
mock==2.0.0
nltk==3.2.5
passlib==1.7.1
pbr==3.1.1
protobuf==3.5.1
pycurl==7.43.0.1
pydot==1.2.4
pymongo==3.6.0
pyparsing==2.2.0
python-dateutil==2.6.1
PyYAML==3.12
PyNLPl==1.2.5
requests==2.18.4
regex==2017.4.5
scikit-learn==0.19.1
segtok==1.5.6
singledispatch==3.4.0.3
six==1.11.0
spacy==2.0.8
stop-words==2015.2.23.1
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0rc3
tornado==4.5.3
urllib3==1.22
Werkzeug==0.14.1
cython==0.27.3
kombu==4.1.0
billiard==3.5.0.2
